In [165]:
import survey_routines as sr
import pandas as pd
import importlib

In [294]:
importlib.reload(sr)

In [200]:
table  = pd.read_csv('Parish Survey Data Entry 2024 v2  (Responses) - 21-9-24.csv', dtype='str')
table.fillna('0', inplace=True)

In [11]:
table.head()

,Timestamp,Data Operator Initials,Q1,Q2,Q3,Q4,Q5 (a),Q5 (b),Q5 (c),Q6,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,9/19/2024 18:20:30,GP,1,2,8,1,1.0,1.0,1.0,2,...,2,2,2,0,2,1,2,RICCARTON,9,0
1,9/19/2024 18:19:36,GP,3,0,BAPTISM SERMON,1,9.0,5.0,2.0,2,...,2,1,6,9,4,5,1,ILAM,9,0
2,9/19/2024 18:18:26,GP,1,5,4,2,3.0,2.0,8.0,2,...,2,2,5,9,3,6,3,RICCARTON,9,0
3,9/19/2024 18:17:16,GP,0,5,1,1,0.0,0.0,7.0,2,...,3,1,4,9,2,2,1,CANTURBURY,9,0
4,9/19/2024 18:16:16,GP,3,0,8,1,8.0,8.0,8.0,2,...,1,1,6,SOLOMON ISLANDS,2,6,2,RICCARTON,9,0

In [69]:
params = pd.DataFrame(columns=cols)

In [278]:
params.at[0,'Q1'] = [6,0,False,False,0]
params.at[0,'Q2'] = [6,0,False,False,0]
params.at[0,'Q3'] = [8,0,True,True,7]
params.at[0,'Q4'] = [6,0,False,False,0]
params.at[0,'Q5 (a)'] = [9,0,False,False,0]
params.at[0,'Q5 (b)'] = [9,0,False,False,0]
params.at[0,'Q5 (c)'] = [9,0,False,False,0]
params.at[0,'Q6'] = [2,0,False,False,0]
params.at[0,'Q7'] = [2,0,False,False,0]
params.at[0,'Q8'] = [2,0,False,False,0]
params.at[0,'Q9'] = [7,0,True,False,0]
params.at[0,'Q10 (a)'] = [9,0,False,False,0]
params.at[0,'Q10 (b)'] = [9,0,False,False,0]
params.at[0,'Q10 (c)'] = [9,0,False,False,0]
params.at[0,'Q11'] = [5,0,False,False,0]
params.at[0,'Q12'] = [6,0,False,False,0]
params.at[0,'Q13'] = [4,0,False,False,0]
params.at[0,'Q14'] = [6,0,True,True,5]
params.at[0,'Q15'] = [2,0,False,False,0]
params.at[0,'Q16'] = [2,0,False,False,0]
params.at[0,'Q17'] = [9,0,False,False,0]
params.at[0,'Q18'] = [8,0,False,False,0]
params.at[0,'Q19'] = [2,0,False,False,0]
params.at[0,'Q20'] = [7,0,False,True,7]
params.at[0,'Q21'] = [10,0,True,True,10]
params.at[0,'Q22'] = [4,0,False,False,0]
params.at[0,'Q23'] = [6,0,False,False,0]
params.at[0,'Q24'] = [7,0,False,True,7]
params.at[0,'Q25'] = [0,0,False,True,1]
params.at[0,'Q26'] = [9,1,False,False,0]
params.at[0,'Q27'] = [0,0,False,True,1]

In [104]:
params

,Timestamp,Data Operator Initials,Q1,Q2,Q3,Q4,Q5 (a),Q5 (b),Q5 (c),Q6,...,Q18,Q19,Q20,Q21,Q22,Q23,Q24,Q25,Q26,Q27
0,NaN,NaN,"[6, 0, False, False, 0]","[6, 0, False, False, 0]","[8, 0, True, True, 7]","[6, 0, False, False, 0]","[9, 0, False, False, 0]","[9, 0, False, False, 0]","[9, 0, False, False, 0]","[2, 0, False, False, 0]",...,"[8, 0, False, False, 0]","[2, 0, False, False, 0]","[7, 0, False, True, 7]","[10, 0, True, True, 10]","[4, 0, False, False, 0]","[6, 0, False, False, 0]","[7, 0, False, True, 7]","[-1, 0, False, True, 0]","[9, 1, False, False, 0]","[-1, 0, False, True, 0]"

In [403]:
cleaned = pd.DataFrame()
cols = table.columns
#duplicate first to rows
for col in cols[:2]:
    cleaned[col] = table[col]
for col in cols[2:]:
    if params.at[0,col][2]:
        for i in range(1,params.at[0,col][0]+1):
            cleaned[col+f"_{i}"] = ''
    else:
        cleaned[col]=''
cleaned['EntryException'] = ''
cleaned['UserException'] = ''
        
for i in table.index:
    if i%100 == 0:
        print (i)
    for col in cols[2:]:
#        print (f"col:{col}, row:{i}")
        try:
            clean_data = sr.check_data(table[col].loc[i],params[col].loc[0][0],params[col].loc[0][1],params[col].loc[0][2],
                                   params[col].loc[0][3],params[col].loc[0][4])
            if params[col].loc[0][2]:  #if allow multi
#                print (f'col:{col}, row: {i}, multi')
                for n in range(1,params[col].loc[0][0]+1):
                    cleaned[col+f'_{n}'].loc[i] = n in clean_data
#                    print (n, n in clean_data)
                if params[col].loc[0][3] and isinstance(clean_data[-1:][0],str): # if text allowed and last element has more than two characters
#                    print (f"TEXT INPUT: {col}, row: {i}, {clean_data[-1:]}")
                    cleaned[col+f'_{params[col].loc[0][4]}'].loc[i] = clean_data[-1:][0]
            else:
                if params[col].loc[0][3] and isinstance(clean_data[-1:][0],str):
                    cleaned[col].loc[i] = clean_data[-1:][0]
                else:
                    cleaned[col].loc[i] = clean_data[0]
                
        except sr.EntryException as e:
            cleaned['EntryException'].loc[i] += f"{col}: '{table[col].loc[i]}'"
            print (f"Entry Exception! col:{col}, row: {i}, data:{table[col].loc[i]}")
        except sr.UserException as e:
            cleaned['UserException'].loc[i] += f"{col}: '{table[col].loc[i]}'"
            print (f"User Exception! col:{col}, row: {i}, data:{table[col].loc[i]}")

0
User Exception! col:Q12, row: 6, data:5,6
User Exception! col:Q20, row: 14, data:2,3
User Exception! col:Q24, row: 14, data:2,3
User Exception! col:Q22, row: 19, data:1,3
User Exception! col:Q22, row: 20, data:2,3,4
User Exception! col:Q12, row: 32, data:2,3
Entry Exception! col:Q26, row: 35, data:0
User Exception! col:Q20, row: 36, data:1,5
Entry Exception! col:Q26, row: 36, data:0
Entry Exception! col:Q6, row: 37, data:91
User Exception! col:Q12, row: 37, data:2,3
Entry Exception! col:Q26, row: 38, data:0
Entry Exception! col:Q26, row: 42, data:0
Entry Exception! col:Q26, row: 44, data:0
User Exception! col:Q12, row: 46, data:5,6
User Exception! col:Q24, row: 47, data:2,3
User Exception! col:Q2, row: 52, data:4,5
User Exception! col:Q24, row: 56, data:2,3
User Exception! col:Q24, row: 62, data:1,2
User Exception! col:Q2, row: 69, data:4,5
User Exception! col:Q22, row: 69, data:3,4
Entry Exception! col:Q26, row: 72, data:0
Entry Exception! col:Q26, row: 73, data:0
Entry Exception! col:Q26, row: 85, data:0
User Exception! col:Q23, row: 91, data:1,6
100
User Exception! col:Q2, row: 109, data:4,5
Entry Exception! col:Q26, row: 111, data:0
User Exception! col:Q24, row: 113, data:2,3
User Exception! col:Q24, row: 116, data:2,6
User Exception! col:Q24, row: 128, data:2,3
User Exception! col:Q22, row: 129, data:2,4
User Exception! col:Q12, row: 135, data:1,2
Entry Exception! col:Q26, row: 137, data:0
Entry Exception! col:Q26, row: 138, data:0
User Exception! col:Q20, row: 143, data:4,6
Entry Exception! col:Q26, row: 166, data:0
Entry Exception! col:Q26, row: 172, data:0
User Exception! col:Q26, row: 180, data:2,9
Entry Exception! col:Q9, row: 193, data:1.2.3.4.5
User Exception! col:Q24, row: 194, data:2,3
200
Entry Exception! col:Q24, row: 208, data:8
Entry Exception! col:Q26, row: 211, data:0
User Exception! col:Q10 (a), row: 228, data:7,8
User Exception! col:Q24, row: 234, data:1,2
Entry Exception! col:Q25, row: 236, data:8042
Entry Exception! col:Q26, row: 240, data:0
Entry Exception! col:Q10 (a), row: 251, data:7,
Entry Exception! col:Q9, row: 280, data:1,22,3,4
User Exception! col:Q2, row: 286, data:1,2,3,4,5
Entry Exception! col:Q26, row: 298, data:0
300
Entry Exception! col:Q13, row: 316, data:5
Entry Exception! col:Q15, row: 316, data:6
Entry Exception! col:Q25, row: 318, data:6
Entry Exception! col:Q26, row: 318, data:0
Entry Exception! col:Q9, row: 334, data:27
Entry Exception! col:Q4, row: 346, data:11
Entry Exception! col:Q1, row: 355, data:80 Years
User Exception! col:Q24, row: 357, data:3,5
Entry Exception! col:Q25, row: 364, data:6
Entry Exception! col:Q9, row: 373, data:9
Entry Exception! col:Q26, row: 373, data:0
Entry Exception! col:Q9, row: 384, data:1,2,3,3,4
Entry Exception! col:Q22, row: 390, data:6
Entry Exception! col:Q20, row: 395, data:8
Entry Exception! col:Q9, row: 399, data:1,23,4,5
Entry Exception! col:Q22, row: 399, data:5
400
Entry Exception! col:Q26, row: 427, data:0
Entry Exception! col:Q26, row: 428, data:0
Entry Exception! col:Q6, row: 470, data:3
Entry Exception! col:Q7, row: 470, data:3
Entry Exception! col:Q8, row: 470, data:3
Entry Exception! col:Q26, row: 479, data:0
500
Entry Exception! col:Q23, row: 512, data:8
Entry Exception! col:Q15, row: 519, data:1 bible and i don't have enough faith to be an atheist
User Exception! col:Q2, row: 520, data:2,5
Entry Exception! col:Q26, row: 525, data:0
Entry Exception! col:Q26, row: 540, data:0
User Exception! col:Q26, row: 546, data:2,4
Entry Exception! col:Q22, row: 554, data:5
Entry Exception! col:Q11, row: 557, data:92
User Exception! col:Q24, row: 557, data:1,5
User Exception! col:Q24, row: 560, data:3,5
Entry Exception! col:Q6, row: 584, data:3
Entry Exception! col:Q7, row: 584, data:3
Entry Exception! col:Q2, row: 585, data:8
Entry Exception! col:Q13, row: 593, data:6
Entry Exception! col:Q26, row: 599, data:0
600
User Exception! col:Q12, row: 601, data:5,6
User Exception! col:Q26, row: 603, data:2,4
User Exception! col:Q10 (a), row: 615, data:5,5,5
User Exception! col:Q9, row: 616, data:1,2,3,4,,5
User Exception! col:Q9, row: 622, data:1,2,,4,5
User Exception! col:Q12, row: 632, data:2,5
Entry Exception! col:Q3, row: 635, data:1,2,3,4,4
Entry Exception! col:Q25, row: 649, data:4
Entry Exception! col:Q26, row: 661, data:0
Entry Exception! col:Q26, row: 664, data:0
Entry Exception! col:Q26, row: 665, data:0
User Exception! col:Q9, row: 676, data:,2,3,4,5
Entry Exception! col:Q14, row: 681, data:9
Entry Exception! col:Q26, row: 682, data:0
700
Entry Exception! col:Q26, row: 702, data:0
Entry Exception! col:Q26, row: 716, data:0
User Exception! col:Q2, row: 727, data:5,6
Entry Exception! col:Q25, row: 747, data:1
Entry Exception! col:Q26, row: 747, data:rolleston
Entry Exception! col:Q26, row: 762, data:0
Entry Exception! col:Q13, row: 766, data:5
Entry Exception! col:Q25, row: 787, data:3
Entry Exception! col:Q26, row: 787, data:Hei Hei
Entry Exception! col:Q27, row: 787, data:5
Entry Exception! col:Q26, row: 791, data:0
Entry Exception! col:Q26, row: 797, data:0
800
Entry Exception! col:Q26, row: 801, data:0
Entry Exception! col:Q11, row: 820, data:0 First Sunday today
Entry Exception! col:Q26, row: 846, data:MY HUSBAND ASK THE INFORMATIONS ON THE EMAIL ABOUT GETTING MY CHURCH WEDDING BUT UNTIL NOW NO REPLY
User Exception! col:Q24, row: 850, data:4,5
Entry Exception! col:Q24, row: 867, data:8
900
User Exception! col:Q4, row: 902, data:4,5
Entry Exception! col:Q20, row: 920, data:8
Entry Exception! col:Q26, row: 921, data:0
Entry Exception! col:Q26, row: 931, data:0
Entry Exception! col:Q27, row: 931, data:5
User Exception! col:Q13, row: 933, data:2,3
User Exception! col:Q24, row: 933, data:3,4
Entry Exception! col:Q26, row: 945, data:0
User Exception! col:Q24, row: 949, data:2,3
Entry Exception! col:Q26, row: 955, data:0
User Exception! col:Q22, row: 968, data:3,4
User Exception! col:Q24, row: 972, data:1,2
User Exception! col:Q12, row: 989, data:4,5
Entry Exception! col:Q11, row: 995, data:12
1000
Entry Exception! col:Q23, row: 1009, data:9
Entry Exception! col:Q26, row: 1010, data:0
Entry Exception! col:Q19, row: 1011, data:4
Entry Exception! col:Q22, row: 1011, data:8
Entry Exception! col:Q26, row: 1011, data:0
Entry Exception! col:Q27, row: 1011, data:5
Entry Exception! col:Q9, row: 1014, data:1M2M3M4M5
Entry Exception! col:Q1, row: 1015, data:8
Entry Exception! col:Q19, row: 1018, data:8
Entry Exception! col:Q20, row: 1019, data:8
User Exception! col:Q4, row: 1020, data:4,5
User Exception! col:Q12, row: 1022, data:2,5
Entry Exception! col:Q26, row: 1028, data:0
Entry Exception! col:Q26, row: 1031, data:0
Entry Exception! col:Q20, row: 1050, data:8
Entry Exception! col:Q26, row: 1060, data:0
User Exception! col:Q22, row: 1064, data:3,4
Entry Exception! col:Q26, row: 1067, data:0
Entry Exception! col:Q11, row: 1070, data:10
Entry Exception! col:Q17, row: 1077, data:0=9
Entry Exception! col:Q20, row: 1077, data:8
User Exception! col:Q13, row: 1079, data:1,2
User Exception! col:Q20, row: 1079, data:3,4
Entry Exception! col:Q26, row: 1083, data:0
Entry Exception! col:Q26, row: 1085, data:0
Entry Exception! col:Q26, row: 1088, data:0
Entry Exception! col:Q26, row: 1089, data:0
Entry Exception! col:Q9, row: 1092, data:0,0,0,0,5
Entry Exception! col:Q23, row: 1096, data:7
1100
Entry Exception! col:Q14, row: 1115, data:8
Entry Exception! col:Q9, row: 1119, data:0,0,0
Entry Exception! col:Q26, row: 1119, data:0
Entry Exception! col:Q26, row: 1125, data:0
Entry Exception! col:Q9, row: 1128, data:0,0,7
Entry Exception! col:Q26, row: 1129, data:0
Entry Exception! col:Q9, row: 1147, data:0,0,3

In [320]:
#don't allow duplicates and clean 7 of text input
cleaned.head()

,Timestamp,Data Operator Initials,Q1,Q2,Q3_1,Q3_2,Q3_3,Q3_4,Q3_5,Q3_6,...,Q21_9,Q21_10,Q22,Q23,Q24,Q25,Q26,Q27,EntryException,UserException
0,9/19/2024 18:20:30,GP,1,2,False,False,False,False,False,False,...,False,False,2,1,2,RICCARTON,9,0,,
1,9/19/2024 18:19:36,GP,3,0,False,False,False,False,False,False,...,True,False,4,5,1,ILAM,9,0,,
2,9/19/2024 18:18:26,GP,1,5,False,False,False,True,False,False,...,True,False,3,6,3,RICCARTON,9,0,,
3,9/19/2024 18:17:16,GP,0,5,True,False,False,False,False,False,...,True,False,2,2,1,CANTURBURY,9,0,,
4,9/19/2024 18:16:16,GP,3,0,False,False,False,False,False,False,...,False,SOLOMON ISLANDS,2,6,2,RICCARTON,9,0,,

In [404]:
cleaned.to_csv('test_8_22_09_24.csv')